.form {
  padding: 32px;
  background: #f6f6fe;
  border-radius: 8px;
  margin: 40px auto;
  width: fit-content;
  text-align: center;
}

.form-submit-btn {
  min-width: 120px;
  min-height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.04em;
  background-color: #4e75ff;
  transition: transform 0.3s ease;
}

.form-element {
  display: block;
  margin-bottom: 10px;
}
